<ng-container *ngIf="title === 'Open Items'">
    <div class="card">
        <div class="card-header bg-primary text-white">{{title}}</div>
        <div class="card-body">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-responsive-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Internal Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">WOTR</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actionItem of actionItems">
                            <td scope="row">
                                <a routerLink='/action-item/edit/{{actionItem.id}}'>
                                    {{actionItem.internalEmailSubject}}
                                </a>
                            </td>
                            <td>{{actionItem.mapStatus | titlecase}}</td>
                            <td>{{actionItem.workOrderTypeRequest}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="d-flex justify-content-center" *ngIf="pagination">
                <pagination 
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;">
                </pagination>
            </div> -->
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title === 'Elapsed Items'">
    <div class="card">
        <div class="card-header bg-primary text-white">{{title}}</div>
        <div class="card-body">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-responsive-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Internal Email</th>
                            <th scope="col">WOTR</th>
                            <th scope="col">Date Started</th>
                            <th scope="col">Date Resolved</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actionItem of actionItems">
                            <td scope="row">
                                <a routerLink='/action-item/edit/{{actionItem.id}}'>
                                    {{actionItem.internalEmailSubject}}
                                </a>
                            </td>
                            <td>{{actionItem.workOrderTypeRequest}}</td>
                            <td>{{actionItem.dateStarted | date: 'MMM d, y, h:mm a'}}</td>
                            <td>{{actionItem.dateResolved | date: 'MMM d, y, h:mm a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="d-flex justify-content-center" *ngIf="pagination">
                <pagination 
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;">
                </pagination>
            </div> -->
        </div>
    </div>
</ng-container>

