<div class="container">
    <h2>DASHBOARD</h2>
    <hr>

    <div class="row">
      <app-total-cards class="col-xl-6 col-md-6 mb-4" [title]="'Elapsed Tasks'" [totalItem]="elapsedNumbers"></app-total-cards>
      <app-total-cards class="col-xl-6 col-md-6 mb-4" [title]="'Open Items'" [totalItem]="requestNumbers"></app-total-cards>
    </div>

    <div class="row mb-3">
      <app-tables class="col-xl-6 col-md-6 mb-4" [title]="'Elapsed Items'" [actionItems]="actionItemsElapsed"></app-tables>
      <app-tables class="col-xl-6 col-md-6 mb-4" [title]="'Open Items'" [actionItems]="actionItemsOpen"></app-tables>
    </div>

    <app-barchart [chartData]="chartData"></app-barchart>
</div>