<div class="modal-header">
    <h4 class="modal-title pull-left" 
      *ngIf="actionItem?.taskNumber && actionItem?.actionItemNumber">
        {{actionItem?.taskNumber}} - {{actionItem?.actionItemNumber}}</h4>
    <h4 class="modal-title pull-left" 
      *ngIf="!actionItem?.taskNumber && !actionItem?.actionItemNumber">
        AI Request Pending</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <tabset type="pills">
      <tab heading="Request Info">
        <table class="table table-responsive{-sm|-md|-lg|-xl} table-bordered table-sm mt-3">
          <tbody>
            <tr>
              <th>Region</th>
              <td>{{actionItem.region}}</td>
            </tr>
            <tr>
              <th>Division</th>
              <td>{{actionItem.division}}</td>
            </tr>
            <tr>
              <th>Internal Email Subject</th>
              <td>{{actionItem.internalEmailSubject}}</td>
            </tr>
            <tr>
              <th>External Email Subject</th>
              <td>{{actionItem.externalEmailSubject}}</td>
            </tr>
            <tr>
              <th>Feedback?</th>
              <td>{{feedback}}</td>
            </tr>
            <tr>
              <th>Work Order Type Request</th>
              <td>{{actionItem.workOrderTypeRequest}}</td>
            </tr>
            <tr>
              <th>Notes</th>
              <td>{{actionItem.notes}}</td>
            </tr>
            <tr>
              <th>Date Started</th>
              <td>{{actionItem.dateStarted | date: 'MMM d, y, h:mm a'}}</td>
            </tr>
            <tr>
              <th>Date Resolved</th>
              <td>{{actionItem.dateResolved | date: 'MMM d, y, h:mm a'}}</td>
            </tr>
            <tr>
              <th>Map Status</th>
              <td>{{actionItem.mapStatus | titlecase}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="DMS Data"> 
        <table class="table table-responsive{-sm|-md|-lg|-xl} table-bordered table-sm mt-3">
          <tbody>
            <tr>
              <th>Task Number</th>
              <td>{{actionItem?.taskNumber}}</td>
            </tr>
            <tr>
              <th>Action Item Number</th>
              <td>{{actionItem?.actionItemNumber}}</td>
            </tr>
            <tr>
              <th>AI Created By</th>
              <td>{{actionItem?.aiCreatedByName}}</td>
            </tr>
          </tbody>
        </table> 
      </tab>
      <tab heading="Elapsed Data"> 
        <table class="table table-responsive{-sm|-md|-lg|-xl} table-bordered table-sm mt-3">
          <tbody>
            <tr>
              <th>SCJON Due Date</th>
              <td>{{actionItem?.dueDate | date: 'MMM d, y, h:mm a'}}</td>
            </tr>
            <tr>
              <th>SLO Days</th>
              <td>{{actionItem?.sloDays}}</td>
            </tr>
            <tr>
              <th>Met SLO?</th>
              <td>{{actionItem?.metSLO ? "Yes" : "No"}}</td>
            </tr>
            <tr>
              <th>Elapsed Due Date</th>
              <td>{{actionItem?.elapsedDueDate | date: 'MMM d, y, h:mm a'}}</td>
            </tr>
            <tr>
              <th>Target Elapsed Days</th>
              <td>{{actionItem?.targetElapsedDays}}</td>
            </tr>
            <tr>
              <th>Met Elapsed Target?</th>
              <td>{{actionItem?.metElapsedTarget ? "Yes" : "No"}}</td>
            </tr>
            <tr>
              <th>Duration</th>
              <td><p>{{actionItem?.daysAndHoursSpent}}</p></td>
            </tr>
            <tr>
              <th>Elapsed Days</th>
              <td>{{actionItem?.elapsedDays}}</td>
            </tr>
            <tr>
              <th>Reason if elapsed</th>
              <td><p>{{actionItem?.reason}}</p></td>
            </tr>
          </tbody>
        </table> 
      </tab>
    </tabset>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Close</button>
</div>