<div class="row" *ngIf="employee">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changes will be lost
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="./assets/user.png" alt="{{employee.firstName}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{employee.homeAddress}}</p>
                </div>
                <div>
                    <strong>Position:</strong>
                    <p>{{employee.position}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{employee.lastActive}}</p>
                </div>
                <div>
                    <strong>Employee since:</strong>
                    <p>{{employee.dateHired | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='About {{employee.firstName}}'>
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4>Position</h4>
                    <textarea class="form-control" [(ngModel)]="employee.position" name="position" rows="6"></textarea>
                    <h4 class="mt-2">Home Address</h4>
                    <textarea class="form-control" [(ngModel)]="employee.homeAddress" name="homeAddress" rows="6"></textarea>
                    <h4 class="mt-2">Location Details: </h4>
                    <div class="form-inline">
                        <label for="city">Date Hired: </label>
                        <input [(ngModel)]="employee.dateHired" type="text" name="dateHired" class="form-control mx-2">
                    </div>
                </form>
            </tab>
            <tab heading='Edit Photos'>
                <p>Photo edit will go here</p>
            </tab>
        </tabset>
    </div>
</div>