<div class="container">
  <h2 class="mb-6">ACTION ITEMS</h2>
  <hr>
  <div class="row mb-3">
    <div class="col-md-12 mb-3">
        <button routerLink='/action-item/add' class="btn btn-success mr-3">Add Action Item</button>
        <button type="button" class="btn btn-primary mr-3" (click)="openModal(template)">Filter Lists</button>
        <button routerLink='/action-item/report' type="button" class="btn btn-warning">Generate Report</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive{-sm|-md|-lg|-xl} table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Region</th>
            <th scope="col">Task Number</th>
            <th scope="col">Action Item Number</th>
            <th scope="col">Internal Subject</th>
            <th scope="col">Work Order Type</th>
            <th scope="col">Status</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actionItem of actionItems">
            <td scope="row">{{actionItem.region}}</td>
            <td>{{actionItem.taskNumber}}</td>
            <td>{{actionItem.actionItemNumber}}</td>
            <td>{{actionItem.internalEmailSubject}}</td>
            <td>{{actionItem.workOrderTypeRequest}}</td>
            <td>{{actionItem.mapStatus | titlecase}}</td>
            <td class="text-center">
              <button  class="btn btn-info mr-3" (click)="infoActionItem(actionItem.id)">
                <i class="fa fa-info-circle"></i>
              </button>
              <button routerLink='/action-item/edit/{{actionItem.id}}' class="btn btn-primary mr-3">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteActionItem(actionItem.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Filter Lists</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="loadActionItems()" id="form" autocomplete="off">
      <div class="form-row mb-3">
        <div class="col-md-6">
          <label>Internal Email Subject:</label>
          <input type="text" class="form-control" name="internalEmailSubject" 
              [(ngModel)]="actionItemParams.internalEmailSubject">
        </div>
        <div class="col-md-6">
          <label>External Email Subject:</label>
          <input type="text" class="form-control" name="externalEmailSubject" 
              [(ngModel)]="actionItemParams.externalEmailSubject">
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col-md-6">
          <label>Action Item Number:</label>
          <input type="text" class="form-control" name="actionItemNumber" 
              [(ngModel)]="actionItemParams.actionItemNumber">
        </div>
        <div class="col-md-6">
          <label>Task Number:</label>
          <input type="text" class="form-control" name="taskNumber" 
              [(ngModel)]="actionItemParams.taskNumber">
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col-md-6">
          <label>Work Order Type Request:</label>
          <select [(ngModel)]="actionItemParams.workOrderTypeRequest" name="workOrderTypeRequest" class="form-control">
            <option value="" disabled selected>Select option</option>
            <option value="Change Request">Change Request</option>
            <option value="Clone">Clone</option>
            <option value="Base">Base</option>
            <option value="Complex">Complex</option>
            <option value="FS Complex">FS Complex</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>Order By:</label>
          <select [(ngModel)]="actionItemParams.orderBy" name="orderBy" class="form-control">
            <option value="" disabled selected>Select option</option>
            <option value="created">Date Created</option>
          </select>
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col-md-6">
          <label>Met SLO?:</label>
          <select [(ngModel)]="actionItemParams.metSLO" name="metSLO" class="form-control">
            <option value="" disabled selected>Select option</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>Met Elapsed Target?:</label>
          <select [(ngModel)]="actionItemParams.metElapsedTarget" name="metElapsedTarget" class="form-control">
            <option value="" disabled selected>Select option</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col-md-12">
          <label>Date Started:</label>
          <input class="form-control" [(ngModel)]="myTime" name="myTime" [selectMode]="'range'" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" placeholder="Date Started">
          <owl-date-time #dt [hour12Timer]="true"></owl-date-time>
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col-md-12">
          <label>Date Resolved:</label>
          <input class="form-control" [(ngModel)]="myTime2" name="myTime2" [selectMode]="'range'" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Resolve">
          <owl-date-time #dt2 [hour12Timer]="true"></owl-date-time>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" form="form" type="submit" [disabled]="!form.dirty">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-warning ml-1">Reset Filters</button>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>
