<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button
        [disabled]="!addActionItemForm.valid"
        form="addActionItemForm"
        class="btn btn-success mb-2">
        Add Action Item
      </button>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-12">
      <form
        [formGroup]="addActionItemForm"
        id="addActionItemForm"
        (ngSubmit)="addActionItemForm.valid && addActionItem()">
        <tabset [justified]="true">
          <tab heading="Employee">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label for="region">Region</label>
                  <select class="form-control" formControlName="region">
                    <option value="" disabled selected>Select your option</option>
                    <option selected value="ASPAC">ASPAC</option>
                    <option value="EMEA">EMEA</option>
                    <option value="NAUS">NAUS</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="division">Division</label>
                  <select class="form-control" formControlName="division">
                    <option value="" disabled selected>Select your option</option>
                    <option selected value="PRO">PRO</option>
                    <option value="CORE">CORE</option>
                    <option value="LS">LS</option>
                  </select>
                </div>
                <app-text-input
                  [formControl]="addActionItemForm.controls['internalEmailSubject']"
                  [label]="'Internal Email Subject'"></app-text-input>
                <app-text-input
                  [formControl]="addActionItemForm.controls['externalEmailSubject']"
                  [label]="'External Email Subject'"></app-text-input>
                <div class="form-group">
                  <label for="workOrderTypeRequest"
                    >Work Order Type Request</label>
                  <select class="form-control" formControlName="workOrderTypeRequest">
                    <option value="" disabled selected>Select your option</option>
                    <option value="Change Request">Change Request</option>
                    <option value="Clone">Clone</option>
                    <option value="Base">Base</option>
                    <option value="Complex">Complex</option>
                    <option value="FS Complex">FS Complex</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label" >Feedback?</label>
                  <select class="form-control" formControlName="feedback">
                    <option value="" disabled selected>Select your option</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="notes">Notes</label>
                  <textarea class="form-control"formControlName="notes" rows="2"></textarea>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="DMS">
            <div class="card">
              <div class="card-body">
                <app-text-input
                  [formControl]="addActionItemForm.controls['taskNumber']"
                  [label]="'Task Number'"
                ></app-text-input>
                <app-text-input
                  [formControl]="addActionItemForm.controls['actionItemNumber']"
                  [label]="'Action Item Number'"
                ></app-text-input>
                <div class="form-group">
                  <label for="aiCreatedBy">AI Created By</label>
                  <select
                    class="form-control"
                    formControlName="aiCreatedBy">
                    <option value="" disabled selected>Select DMS</option>
                    <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.firstName}} {{employee.lastName}}</option>
                  </select>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Status">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label for="dateStarted">Date Started</label>
                  <input class="form-control" formControlName="dateStarted" [owlDateTime]="dt" [owlDateTimeTrigger]="dt" placeholder="Date Started">
                  <owl-date-time #dt [hour12Timer]="true"></owl-date-time>
                </div>
                <div class="form-group">
                  <label for="dateResolved">Date Resolved</label>
                  <input class="form-control" formControlName="dateResolved" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Resolved">
                  <owl-date-time #dt2></owl-date-time>
                </div>
                <div class="form-group">
                  <label for="mapStatus">Map Status</label>
                  <select class="form-control" formControlName="mapStatus">
                    <option value="" disabled selected>Select status</option>
                    <option value="completed">Completed</option>
                    <option value="open">Open</option>
                    <option value="pending">Pending</option>
                  </select>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </form>
    </div>
  </div>
</div>
<!-- <div class="row mt-4">
  <p>Form value: {{ addActionItemForm.value | json }}</p>
  <p>Form status: {{ addActionItemForm.status | json }}</p>
</div> -->

 