<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-md-offset-3 scroll">
      <div class="card mb-3">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <!-- <a class="nav-link active" href="#">Active</a> -->
              <button class="btn btn-success btn-block mr-2" type="submit">Add Action Item</button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <form #addForm="ngForm" id="addForm" (ngSubmit)="addActionItem()">
            <div class="form-group">
              <label for="category">Category</label>
              <input type="text" class="form-control" [(ngModel)]="model.category" name="category" placeholder="SCJON|NAUS|PRO">
            </div>
            <div class="form-group">
                <label for="division">Project Type</label>
                <select class="form-control" [(ngModel)]="model.division" name="division">
                  <option value="PRO">PRO</option>
                  <option value="CORE">CORE</option>
                  <option value="LS">LS</option>
                </select>
            </div>
            <div class="form-group">
                <label for="request">Request Type</label>
                <input type="text" class="form-control" [(ngModel)]="model.request" name="request">
            </div>
            <div class="form-group">
                <label for="internalEmailSubject">Internal Email Subject</label>
                <input type="text" class="form-control" [(ngModel)]="model.internalEmailSubject" name="internalEmailSubject" placeholder="[ANA-DEV] SCJON | LS | 810">
            </div>
            <div class="form-group">
              <label for="assignedToId">Assigned To</label>
              <select class="form-control" [(ngModel)]="model.assignedToId" name="assignedToId">
                <option value="1">Robin</option>
                <option value="2">Sheena</option>
              </select>
            </div>
            <div class="form-group">
                <label for="workOrderTypeRequest">Work Order Type Request</label>
                <input type="text" class="form-control" [(ngModel)]="model.workOrderTypeRequest" name="workOrderTypeRequest">
            </div>
            <div class="form-group">
                <label for="feedback">Feedback</label>
                <select class="form-control" [(ngModel)]="model.feedback" name="feedback">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
              <label for="notes">History</label>
              <textarea class="form-control" [(ngModel)]="model.notes" name="notes" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label for="taskNumber">Task Number</label>
                <input type="text" class="form-control" [(ngModel)]="model.taskNumber" name="taskNumber">
            </div>
            <div class="form-group">
                <label for="actionItemNumber">Action Item Number</label>
                <input type="text" class="form-control" [(ngModel)]="model.actionItemNumber" name="actionItemNumber">
            </div>
            <div class="form-group">
                <label for="deliveryManagerSupportId">Delivery Manager</label>
                <select class="form-control" [(ngModel)]="model.deliveryManagerSupportId" name="deliveryManagerSupportId">
                  <option value="1">John Oswald Junio</option>
                  <option value="2">Menchie Ronquillo</option>
                  <option value="3">Jonalyn Bula</option>
                </select>
            </div>
            <div class="form-group">
                <label for="externalEmailSubject">External Email Subject</label>
                <input type="text" class="form-control" [(ngModel)]="model.externalEmailSubject" name="externalEmailSubject" placeholder="[ANA-DEV] SCJON | LS | 810">
            </div>
            <div class="form-group">
                <label for="externalEmailSubject">Date Started</label>
                <input type="date" class="form-control" [(ngModel)]="model.dateStarted" name="dateStarted">
            </div>
            <div class="form-group">
                <label for="currentTeamOwner">Current Team Owner</label>
                <input type="text" class="form-control" [(ngModel)]="model.currentTeamOwner" name="currentTeamOwner">
            </div>
            <div class="form-group">
                <label for="currentIndividualAssigned">Current Individual Assigned</label>
                <input type="text" class="form-control" [(ngModel)]="model.currentIndividualAssigned" name="currentIndividualAssigned">
            </div>
            <div class="form-group">
                <label for="remarks">Remarks</label>
                <textarea class="form-control" [(ngModel)]="model.remarks" name="remarks" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label for="mapStatus">Map Status</label>
                <select class="form-control" [(ngModel)]="model.mapStatus" name="mapStatus">
                  <option value="completed">Completed</option>
                  <option value="open">Open</option>
                  <option value="pending">Pending</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dateResolved">Date Resolved</label>
                <input type="date" class="form-control" [(ngModel)]="model.dateResolved" name="dateResolved">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>